<div class="form form--mid">
  <div class="form__container">
  <h2>Add partners logo</h2>
<%= form_with(model: partner) do |form| %>
  <%= render "shared/errors", object: partner %>
  <div class="input-box">
      <%= form.text_field :Title, required: "required" %>
      <span>Title</span>
      <i></i>
  </div>
  <div class="input-box">
      <%= form.text_field :Description, required: "required" %>
      <span>Description</span>
      <i></i>
  </div>
  <div class="input-box">
  <%= form.file_field :image, required: "required" %>
  </div>
<%= form.submit "Create", class: "btn btn--mid" %>

<% end %>
  </div>
</div>
